//TODO: recheck ubuntu requirements, pip requirements ok
ubuntu
build-essential
python-dev
libmagickwand-dev
mongodb

pip
Flask (Werkzeug, jinja, itsdangerous, markupsafe)
flask-mongoengine(mongoengine, flask-wtf, pymongo, WTForms)
flask-restful (aniso8601, six, pytz)
Wand






