//TODO: recheck ubuntu requirements, pip requirements ok
ubuntu:
build-essential
python-dev
imagemagik
mongodb (change host in settings.py)
libjjpg-devel for PIL jpeg support

pip:
python-dateutil (very important to avoid parse errors from mongoengine)
Flask (Werkzeug, jinja, itsdangerous, markupsafe)
flask-mongoengine(mongoengine, flask-wtf, pymongo, WTForms)
flask-restful (aniso8601, six, pytz)
PIL (verify that libjpg is installed and correctly linked before installing PIL)
flask-login 0.2.9
