<table class='table' ng-table>
   <div class='btn btn-default' ng-click='addRow()'>Add</div>
   <tr ng-repeat='data in compData'>
      <td data-title="'Month'">
          <span ng-if="!data.$edit">{{data.month}}</span>
          <div ng-if="data.$edit"><input class="form-control" type="text" ng-model="data.month" /></div>
      </td>
      <td data-title="'Claire'">{{data.incomeCK}}</td>
      <td data-title="'Claire RC'">{{data.recalcCK}}</td>
      <td data-title="'Chris'">{{data.incomeCO}}</td>
      <td data-title="'Chris RC'">{{data.recalcCO}}</td>
      <td data-title="'Paid'">{{data.paidOn}}</td>
      <td data-title="'Actions'" width="200">
          <a ng-if="!data.$edit" href="" class="btn btn-default btn-xs" ng-click="data.$edit = true">Edit</a>
          <a ng-if="data.$edit" href="" class="btn btn-primary btn-xs" ng-click="data.$edit = false">Save</a>
      </td>
   </tr>
</table>
