<div id="cardView" class="row"
   ng-controller="NotesViewController">
   <section id="sidebar" class="col-md-3 "
      ng-controller="StackListController">
      <!--Title and actions-->
      <!--Fix stacks-->
      <div class="btn-group">
         <div class="stack btn btn-default"
            ng-click="listStackUser(floatingStack)"
            ng-class="{true: 'active btn-primary', false: 'btn-default'}[stackIsActive(floatingStack.title)]">
            {{floatingStack.title}}
         </div>
         <a title="Archive" id="archive_button" class="stack btn btn-default"
            ng-class="{true: 'active btn-primary', false: 'btn-default'}[stackIsActive('Archive')]"
            ng-click="listStackArchive()"><i class="glyphicon glyphicon-inbox"></i></a>
         <div class="btn stack"
            ng-class="{true: 'active btn-primary', false: 'btn-default'}[stackIsActive('All')]"
            ng-click="listStackAll()">
            All
         </div>
      </div>
      <div class="btn-group pull-right stack_actions">
         <button id="addStackButton" class="inline btn btn-success"
            ng-click="startAddStack()">
            <i class="glyphicon glyphicon-plus"></i>
         </button>
         <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
               ng-disabled='stackIsEditable()'>
               <i class="glyphicon  glyphicon-edit"></i><span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
               <li>
                  <a ng-click="startDeleteStack(activestack)">Delete</a>
               </li>
               <li>
                  <a ng-click="startRenameStack(activestack)">Rename</a>
               </li>
            </ul>
         </div>
      </div>
      <div id="stackactions">
         <form name="addStackForm" class='form-group'
            ng-show="isVisibleStackAdd">
            <small class="text-info">Add new</small>
            <input placeholder="Title" name="addStackInput" type="text" class="form-control"
               xng-focus="isVisibleStackAdd"
               ng-model="addStackInput"
               ng-required="isVisibleStackAdd">
            <button type="submit" class="inline btn btn-default"
               ng-click="stackActionError=false;addStack()"
               ng-disabled="addStackForm.addStackInput.$invalid">
               <i class="glyphicon glyphicon-ok"></i>
            </button>
            <button class="inline btn btn-default"
               ng-click="isVisibleStackAdd=false;stackActionError=false">
               <i class="glyphicon glyphicon-remove"></i>
            </button>
         </form>
         <form name="renameStackForm"  class='form-group'
            ng-show="isVisibleStackRename">
            <small class="text-info">Rename {{stackToRename.title}} to</small>
            <input name="renameStackInput" type="text" class="form-control inline" placeholder ='new title'
               xng-focus="isVisibleStackRename"
               ng-model="renameStackInput"
               ng-required="isVisibleStackRename">
            <button type="submit" class="inline btn btn-default"
               ng-click="stackActionError=false;renameStack(stackToRename)"
               ng-disabled="renameStackForm.renameStackInput.$invalid || renameStackInput == stackToRename.title">
               <i class="glyphicon glyphicon-ok"></i>
            </button>
            <button class="inline btn btn-default"
               ng-click="isVisibleStackRename=false;stackActionError=false">
               <i class="glyphicon glyphicon-remove"></i>
            </button>
         </form>
         <div  class='form-group'
            ng-show="isVisibleStackDelete" >
            <small class="text-danger">Delete {{stackToDelete.title}} ?</small>
            <div class="clearfix"></div>
            <button class="inline btn btn-danger"
               ng-click="deleteStack(stackToDelete)">
               <i class="glyphicon glyphicon-ok"></i>
            </button>
            <button class="inline btn btn-default"
               ng-click="isVisibleStackDelete=false">
               <i class="glyphicon glyphicon-remove"></i>
            </button>
         </div>
         <small class="text-danger"
            ng-show='stackActionError'>{{stackActionErrorMsg}}</small>
      </div>

      <!--User stacks-->
      <ul class="stacklist list-group">
         <li class="stack list-group-item"
            ng-repeat="stack in stacks | orderBy:'createdat'"
            ng-class="{true: 'active', false: ''}[stackIsActive(stack.title)]"
            ng-click="listStackUser(stack)">
            <span class="pull-left">{{stack.title}}</span>
            <span class="pull-right badge" ng-bind="stackSizes[stack.id]"></span>
            <div class='clearfix'></div>
         </li>
      </ul>
      <hr>
   </section>
   <section id="middlebar" class="col-md-8 ">



      <!--Cards list header-->
      <div class='row'>
            <div id='stackHeader' class='col-lg-3'>
               <h3>{{activestack.title}}</h3>
            </div>
            <div class='col-lg-5'>
               <ul class='list-inline'>
                  <li>
                     <button ng-click="startAddCard()" class="btn btn-success"
                        ng-hide="inArchive()">
                        Add Card
                     </button>
                  </li>
                  <li>
                     <input class="form-control" title="Includes attachment file names" type="text" placeholder="Search stack"
                        ng-model="query">
                  </li>
               </ul>
            </div>
            <div class='col-lg-4 view_options'>
               <div class="btn-toolbar pull-right" role="toolbar">
               <div class="btn-group">
                  <button class="active btn btn-default"><i class="glyphicon  glyphicon-tasks"></i></button>
                  <button class="btn btn-default"><i class="glyphicon  glyphicon-calendar"></i></button>
                  <div class="btn-group cards_order_options pull-right">
                     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon  glyphicon-sort"></i><span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu" role="menu">
                        <li>
                           <a
                           ng-click="setOrder('-modifiedat')"
                           ng-class="{true: 'active', false: ''}[orderProp=='-modifiedat']">Last modified</a>
                        </li>
                        <li>
                           <a
                           ng-click="setOrder('-createdat')"
                           ng-class="{true: 'active', false: ''}[orderProp=='-createdat']">Last created</a>
                        </li>
                        <li>
                           <a
                           ng-click="setOrder('title')"
                           ng-class="{true: 'active', false: ''}[orderProp=='title']">Title</a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class='btn-group'>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                     ng-disabled='!isNotNull(activeCard)'>
                     <i class="glyphicon  glyphicon-edit"></i><span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                     <li>
                        <button ng-click="startEditCard(activeCard)" ng-disabled='disableEdit'>Edit</button>
                     </li>

                     <li class="dropdown-header">
                        Move to stack
                     </li>
                     <li>
                        <a ng-click="moveCard(activeCard, floatingStack.id)">Floating</a>
                     </li>
                     <li ng-repeat="stack in stacks">
                        <a ng-click="moveCard(activeCard, stack.id)">{{stack.title}}</a>
                     </li>
                     <li class="divider"></li>
                     <li class="dropdown-header">
                        Other
                     </li>
                     <li>
                        <a
                        ng-click="removeCard(activeCard)">{{{true: 'Delete permanently', false: 'Archive'}[inArchive()]}}</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>

     <!--Card Form-->
      <div class='row'>
         <div class='col-lg-12'>
            <div id='cardFormContainer' class='panel panel-primary'
               ng-show="isCardFormVisible"
               ng-controller='CardFormController'>
                    <div class="panel-heading">
                      <h3 class="panel-title">{{{new: 'Add new card', edit: 'Edit card'}[cardFormAction]}}</h3>
                    </div>

                     <div class='col-lg-12 panel-body ' >

<!--
                    <h3>Upload queue</h3>
                    <p>Queue length: {{ uploader.queue.length }}</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <p>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </p>
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                    </div>
                    -->

                        <form name="cardForm" id='cardForm' role="form" class="form-horizontal">
                           <div class="form-group">
                                 <label for="inputTitle" class="col-sm-1 control-label">Title</label>
                                 <div class="col-sm-7">
                                    <input name='inputTitle' type="text" class="form-control" placeholder="Title"
                                       ng-required="isCardFormVisible"
                                       ng-model="cardFormCard.title">
                                    <span class="text-warning"
                                       ng-show="titleError">{{titleErrorMessage}}</span>
                                 </div>
                           </div>
                           <div class="form-group">
                              <label for="inputContent" class="col-sm-1 control-label">Content</label>
                              <div class="col-sm-7">
                                 <textarea id='inputContent' type="text" class="form-control" rows="3"
                                    ng-model="cardFormCard.content">
                                 </textarea>
                              </div>
                           </div>
                           <div class="form-group">
                              <label for="duedate" class="col-sm-1 control-label">Due</label>
                              <div class="col-sm-3">
                                 <input id="duedate" type="date" class="form-control"
                                    ng-model="cardFormCard.duedate">
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="col-sm-offset-1 col-sm-11">
                                 <button id="submitAddCardFormBtn" type="submit" class="btn btn-primary"
                                    ng-click="doCardFormAction()"
                                    ng-disabled="isSaveDisabled()">
                                    <i class="glyphicon glyphicon-ok"></i>
                                 </button>
                                 <button class="btn btn-default"
                                    ng-click="cancelCardForm()">
                                    <i class="glyphicon  glyphicon-remove"></i>
                                 </button>

                                 <button type="button" id="addFileFormBtn" class="btn btn-success"
                                    ng-click="initFileUpload()">
                                    add file
                                 </button>
                                 <input id="fileInput" type="file" multiple
                                    ng-show=false
                                    ng-file-select>

                                 <input type="url"
                                    ng-show="isLinkInputVisible"
                                    ng-model='linkInputValue'>
                                 <button type="button" id="addLinkFormBtn" class="btn btn-success"
                                    ng-click="initAddLink()"
                                    ng-hide='isLinkInputVisible'>
                                    add link
                                 </button>
                                 <button type="button" class="btn btn-success"
                                    ng-click="addLink()"
                                    ng-show='isLinkInputVisible'
                                    ng-disabled="isLinkInputValueInvalid()">
                                    ok
                                 </button>
                                 <button type="button" class="btn btn-success"
                                    ng-click="cancelAddLink()"
                                    ng-show='isLinkInputVisible'>
                                    cancel
                                 </button>
                              </div>
                           </div>
                        </form>
                     </div>
                  <div class='row'>
                     <div  class='col-lg-12'>
                        <ul class='list-inline thumblist'>
                           <li ng-repeat="att in fileAttachmentsList"
                              ng-click="$event.stopPropagation()">
                              <a class="att_thumb_link" title="{{att.filename}}"
                                 ng-href="">
                                 <img class="att_thumb img-rounded" ng-src="{{thumbService.getUrl(att.clientid, att.id)}}">
                                 <small class="att_thumb_overlay text-center">
                                    <i class="attdelbutton glyphicon glyphicon-trash"
                                       ng-click="$event.stopPropagation();removeAtt(att)"
                                       ng-show="thumbService.allowDelete(att.clientid, att.id)">
                                    </i>
                                    {{thumbService.getProgress(att.clientid, att.id)}}
                                 </small>
                              </a>
                           </li>
                           <li ng-repeat="att in urlAttachmentsList"
                              ng-click="$event.stopPropagation()">
                              <a class="inline att_thumb_link" title="{{att.url}}"
                                 ng-href="">
                                 <img class="att_thumb img-rounded" ng-src="{{thumbService.getUrl(att.clientid, att.id, 'linkthumb')}}">
                                 <small class="att_thumb_overlay">
                                    <i class="attdelbutton glyphicon glyphicon-trash"
                                       ng-click="$event.stopPropagation();removeLink(att)"
                                       ng-show="thumbService.allowDelete(att.clientid, att.id)">
                                    </i>
                                    <i class="glyphicon  glyphicon-share-alt"></i>
                                 </small>
                              </a>
                           </li>
                        </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!--Cards list-->

      <div class='row'>
         <div class='col-lg-12'>
            <div ng-controller="CardListController">
               <div ng-repeat="cardGroup in cardGroups">
               <small class="text-muted" >{{cardGroup.label}}</small>
               <div class='list-group'>
                  <div class="card list-group-item"
                     ng-repeat="card in cardGroup.cards"
                     ng-class="{true: 'active', false: ''}[cardIsActive(card)]"
                     ng-click='$parent.selectCard(card)'
                     ng-dblclick="$parent.startEditCard(card)">

   <!--Start of card-->
                     <!-- Card title row -->
                     <h4 class='pull-left list-group-item-heading'>{{card.title}}</h4>
                     <ul class="clearfix list-inline label-list"><!--just add pull-right to align right-->
                        <li></li>
                        <li class="label label-default" ng-show='activestack.title==="All"'>{{getStacktitle(card.stackid)}}</li>
                        <li class="label label-default" ng-show="isNotNull(card.stacktitleafterarchived)">original: {{card.stacktitleafterarchived}}</li>
                        <li title="due date" class="card_due_label label label-default" ng-show="isNotNull(card.duedate)">
                           <small><i class="glyphicon  glyphicon-time"></i> {{card.duedate  | date:'yyyy-MM-dd'}}</small>
                        </li>
                     </ul>

                     <!--Card Content-->
                     <p>{{card.content}}</p>

                     <!--Tumbnails-->
                     <ul class='list-inline thumblist'>
                        <!--file Attachments-->
                        <li ng-repeat="att in card.fileattachments">
                           <a class="att_thumb_link" title="{{att.filename}}"
                              ng-href="{{thumbService.getUrl(att.clientid, att.id, 'download')}}"
                              ng-init="thumbService.storeThumbnail(card.id, att.clientid, att.id, att)"
                              >
                              <img class="att_thumb img-rounded" ng-src="{{thumbService.getUrl(att.clientid, att.id)}}">
                              <small ng-show="thumbService.getProgress(att.clientid, att.id) !== ''" class="att_thumb_overlay text-muted text-center">
                                 {{thumbService.getProgress(att.clientid, att.id)}}
                              </small>
                            </a>

                        </li>

                        <!--url Attachments-->
                        <li ng-repeat="att in card.urlattachments">
                           <a class="att_thumb_link" title="{{att.url}}" target="_blank"
                              ng-href="{{att.url}}"
                              ng-init="thumbService.storeThumbnail(card.id, att.clientid, att.id, att)"
                              >
                              <img class="att_thumb img-rounded" ng-src="{{thumbService.getUrl(att.clientid, att.id, 'linkthumb')}}">
                              <small class="att_thumb_overlay"><i class="glyphicon  glyphicon-share-alt"></i></small>
                           </a>
                        </li>
                     </ul>

                     <!--Card status-->
                     <small>
                        <ul class="status-list list-inline">
                           <li class="card_time_label">
                              <small title="created at" class="text-muted"><i class="glyphicon  glyphicon-asterisk"></i>&nbsp;{{card.createdat |date:'yyyy-MM-dd HH:mm:ss'}}</small>
                           </li>
                           <li class="card_mod_label"
                              ng-show="card.modifiedat != card.createdat">
                              <small title="modified at" class="text-muted"><i class="glyphicon  glyphicon-pencil"></i>&nbsp;{{card.modifiedat | date:'yyyy-MM-dd HH:mm:ss'}}</small>
                           </li>
                           <li class="card_mod_label"
                              ng-show="isNotNull(card.archivedat)">
                              <small title="archived at" class="text-muted"><i class="glyphicon  glyphicon-trash"></i>&nbsp;{{card.archivedat | date:'yyyy-MM-dd HH:mm:ss'}}</small>
                           </li>
                           <li class="card_mod_label"
                              ng-show="{{card.saving}}">
                              <small class="text-emphasis">saving...</small>
                           </li>
                        </ul>
                     </small>
                  </div><!--End of list group item-->

               </div><!--End of list group-->
<!--End of card-->
            </div>
</div>

         </div>
      </div>
   </section>
   <section id="rightbar" class="col-md-1"></section>
</div>