<!doctype html>
<html lang="en" ng-app="oto">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

      <title>Organize the Olingers</title>

      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="/static/css/main.css">

      <!--Icons and favicons-->
     <!-- iOS 7 iPhone (retina) -->
        <link href="/static/img/apple-touch-icon-120x120.png" sizes="120x120" rel="apple-touch-icon">
       <!-- iOS 7 iPad -->
        <link href="/static/img/apple-touch-icon-76x76.png" sizes="76x76" rel="apple-touch-icon">
        <!-- For everything else -->
        <link rel="shortcut icon" href="/static/img/favicon.ico" />

        <!--iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="apple-touch-startup-image" href="/images/h/splash.png">

   </head>
   <body ng-cloak>
      {%raw %}
      <nav id="navbar" class="navbar navbar-default" role="navigation"
         ng-controller="NavController"
         ng-cloak>
         <div class='navbar-header'>
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
            <a class="navbar-brand" title='Organize the Olingers' href="/"><img class='logo' src="/static/img/apple-touch-icon-120x120.png"><strong>tO</strong> <small class='text-muted'>Organize the Olingers</small></a>
         </div>

         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
               <li active-nav>
                  <a href="/"
                     access-level='accessLevels.user'>Home</a>
               </li>
               <li active-nav>
                  <a href="/notes"
                     access-level='accessLevels.user'>Notes</a>
               </li>
               <li active-nav>
                  <a href="/watchlist"
                     access-level='accessLevels.user'>TV watchlist</a>
               </li>
               <li active-nav>
                  <a href="/household"
                     access-level='accessLevels.public'>Household</a>
               </li>
               <li active-nav>
                  <a href="/automation"
                     access-level='accessLevels.user'>Automation</a>
               </li>
               <li active-nav>
                  <a href="/admin"
                     access-level='accessLevels.admin'>Admin</a>
               </li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
                  <li active-nav>
                     <a href="/about"
                        access-level='accessLevels.public'>About</a>
                  </li>
                  <li active-nav>
                     <a class="navbar-link" href="/login"
                        access-level='accessLevels.anon'>Log in</a>
                  </li>
                  <li>
                     <a class="navbar-link" href="#"
                        access-level='accessLevels.user'
                        ng-click='logout()'>Log out, {{user.username}}</a>
                  </li>
            </ul>
         </div>
         <div ng-include="core.subnavurl"></div>
      </nav>
      {% endraw %}


      {% block app %}{% endblock %}
      <!--
      <script>
       <body ontouchmove="BlockMove(event);" ng-cloak>
       function BlockMove(event) {
        // Tell Safari not to move the window.
        event.preventDefault() ;
       }
      </script>
      -->
      <script>
      //iOS status bar in web app bug
          var updateStatusBar = navigator.userAgent.match(/iphone|ipad|ipod/i) &&
              parseInt(navigator.appVersion.match(/OS (\d)/)[1], 10) >= 7;

              //webapp does not have safari in the name!

          if (updateStatusBar) {
              //document.body.style.webkitTransform = 'translate3d(0, 20px, 0)';
          }
      </script>

      <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
      <!--<script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js'></script>-->

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-resource.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-route.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-cookies.min.js"></script>
      <script src="/static/lib/angularui/ui-bootstrap-tpls.min.js"></script>
      <script src="/static/lib/angularui/ui-utils.js"></script>
      <script src="/static/lib/file-upload/angular-file-upload.js"></script>

      <script src="/static/js/core/routingConfig.js"></script>
      <script src="/static/js/core/app.js"></script>
      <script src="/static/js/core/helperFunctions.js"></script>
      <script src="/static/js/core/authenticationServices.js"></script>
      <script src="/static/js/core/NavController.js"></script>
      <script src="/static/js/core/authenticationDirectives.js"></script>

      <script src="/static/js/notes/StacksFactory.js"></script>
      <script src="/static/js/notes/CardsFactory.js"></script>
      <script src="/static/js/notes/ThumbService.js"></script>
      <script src="/static/js/notes/notesFilters.js"></script>
      <script src="/static/js/notes/notesDirectives.js"></script>
      <script src="/static/js/notes/NotesViewController.js"></script>
      <script src="/static/js/notes/StackListController.js"></script>
      <script src="/static/js/notes/CardFormModalController.js"></script>
      <script src="/static/js/notes/CardListController.js"></script>

      <script src="/static/js/household/CompensateController.js"></script>

      <script src="/static/js/admin/AdminControllers.js"></script>

      <script src="/static/js/login/LoginController.js"></script>

      <script src="/static/js/landing/LandingController.js"></script>

      <script src="/static/js/watchlist/WatchlistController.js"></script>

      <script src="/static/js/automation/AutomationControllers.js"></script>
   </body>
</html>