
<div class="header-section">
	<div class="header-row">
		<div class="">
			<h1 class="">Watchlist</small></h1>
		</div>
	</div>
</div>
<div class="header-push">
</div>

<div class='row morepadding'>
   <div class='col-md-12'>
      <form class="form-inline" role="form" ng-submit='searchSeries()'>
        <div class="form-group">
          <input ng-model='query' type="text" class="form-control" id="searchInut" placeholder="enter name">
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        <div class="btn-group">
           <button type="button" ng-class='{active: searchFor == "tvshows"}' class="btn btn-default" ng-click='setSearchFor("tvshows")'>TV Shows</button>
           <button type="button" ng-class='{active: searchFor == "movies"}' class="btn btn-default" ng-click='setSearchFor("movies")'>Movies</button>
        </div>
      </form>
   </div>
</div>

<div class='row' ng-show='showSearchResults'>
   <div class='col-md-12'>
      <span ng-show='searching'>Searching...</span>
   </div>
</div>

<div class='row' ng-show='showSearchResults'>
   <div class='col-md-12'>
      <!--Search result-->
      <h3 ng-show='showSearchResults && !searching'>Search Results <button ng-show='showSearchResults && !searching' class='btn btn-success' ng-click='showSearchResults=false'>Close</button></h3>
      
      <div class="list-group col-xs-12 col-sm-12 col-md-12 col-lg-12"  ng-if="searchResults.length > 0" ng-hide='searching'>
        <a href="#" class="list-group-item col-xs-12 col-sm-12 col-md-6 col-lg-6" 
         ng-repeat='series in searchResults'>
          <h4 class="list-group-item-heading">{{series.name}}</h4>
                <img class='seriesThumb img-rounded  pull-left' ng-src='{{series.thumb}}'>

               <dl class="dl-horizontal pull-left">
                 <dt>First aired</dt>
                 <dd>{{series.firstAired}}</dd>
                 <dt>Status</dt>
                 <dd>{{series.status}}</dd>
                 <dt>Next episode</dt>
                 <dd>{{series.nextEpisode}}</dd>
                 <dt>Rating</dt>
                 <dd>{{series.rating}}</dd>
                 <dt>Seasons</dt>
                 <dd>{{series.totalSeasons}}</dd>
                 <dt>Episodes</dt>
                 <dd>{{series.totalEpisodes}}</dd>
                 <dt>Runtime</dt>
                 <dd>{{series.runtime}}</dd>
               </dl>
               <button class='btn btn-success pull-right' ng-click='addSeries(series)'>Add</button>
               <div class='clearfix'></div>

        </a>
      </div>
      <!--No results-->
      <p  ng-if="searchResults.length == 0" ng-hide='searching'>No results for {{query}}</p>
      
   </div>
</div>

<div class='row' ng-show='loadingCollection'>
   <div class='col-md-12'>
      <span>Loading collection...</span>
   </div>
</div>
<div class='row' ng-hide='loadingCollection || seriesCollection.length == 0'>
   <div class='col-md-12'>
      <!--Series collection-->
      <h3>Series Collection</h3>
      <div class="list-group col-xs-12 col-sm-12 col-md-12 col-lg-12"
         ng-if="seriesCollection.length > 0">
        <a href="#" class="list-group-item col-xs-12 col-sm-12 col-md-6 col-lg-6" 
         ng-repeat='series in seriesCollection'>
          <h4 class="list-group-item-heading pull-left">
             
          </h4>
          <img class='seriesThumb img-rounded' ng-src='{{series.thumb}}'>
          <h5 class='pull-left'>
             <span class='text-muted'>{{series.name | limitTo:40}}</span>
             <span class='label label-primary' ng-if='series.totalSeasons > 1'>{{series.totalSeasons}} seasons</span>
             <span class='label label-primary' ng-if='series.totalSeasons == 1'>1 season</span>
             <span class='label label-primary' ng-if='series.nextEpisode != null'>Next: {{series.nextEpisode}}</span>
             <span class='label label-warning' ng-if='series.nextEpisode == null'>Ended</span>
          </h5>
          <button class='removeSeriesBtn btn btn-success btm-sm pull-right' ng-click='removeSeries($index)'><span class="glyphicon glyphicon-trash"></span></button>
          <div class='clearfix'></div>
          <div class='episodeTable'>
          <table class='table  table-condensed'>
             <tr ng-repeat='ep in series.episodelist | reverse' ng-click="setActiveEpisode(series, ep)" ng-class="{'activeBold': series.activeEpisode==ep}">
                <td ng-class="{'warning': ep == series.lastdownloaded, 'successImp': ep == series.lastwatched, 'success': ep == series.lastwatched, 'lastAired':epIsNextAired(series, ep)}">
                   <small class='text-muted' ng-if="ep == series.lastwatched">W </small>
                   <small class='text-warning' ng-if="ep == series.lastdownloaded">D </small>
                   <small class='text-warning' ng-if="epIsNextAired(series, ep)">Next aired </small>
                   {{ep}}
                </td>
             </tr>
          </table>
          </div>
          <div class='btn-group pull-right'>
             <div class='btn btn-default' ng-click='setLastDownloaded(series)'>LD</div>
             <div class='btn btn-default' ng-click='setLastWatched(series)'>LW</div>
          </div>
        </a>
      </div>
   </div>
</div>

<div class='row' ng-hide='loadingCollection || seriesCollection.length > 0'>
   <div class='col-md-12'>
      <span>No series in your collection</span>
   </div>
</div>
